/[.I]dea/


.vs/
*.csproj
Temp/
ProjectSettings/
Logs/
Library/
obj/
.vsconfig
TweenProject.sln
.idea/.idea.WooTween/.idea/indexLayout.xml
.idea/.idea.WooTween/.idea/projectSettingsUpdater.xml
.idea/.idea.WooTween/.idea/vcs.xml
.idea/.idea.WooTween/.idea/workspace.xml
